## Indention

Colons, :, are used to declare an indented code block,
such as the following example:

In [ ]:
#Notice everything belonging to a function must be indented
if (a>5){
    some piece of code
}

if (a>5):
    some piece of code
    if:
else        
    


if a > 5:
   if a<10:
        return True
        dfs
        sfasdf
        asdfs
    else:
        print awerw
        qwrwrw
        qwrwrew
else:
    return False
#If a function is not indented to the same level it will not be considers as part of the parent class
for i in b:
    #Loops are also indented and nested conditions start a new indentation
    if i == 1:
    return True
print("hello")

#### Spaces or Tabs?

The recommended indentation is 4 spaces but tabs or spaces can be used so long as they are consistent. Do not
mix tabs and spaces in Python as this will cause an error in Python 3 and can causes errors in Python 2.

In [1]:
a = 7
if a > 15:
    print ("foo")
    print("in if part")
else:
    print ("bar")
    print ("done")

bar
done

Conditional expressions, involving keywords such as if, elif, and else, provide Python programs with the ability to
perform different actions depending on a boolean condition: True or False. This section covers the use of Python
conditionals, boolean logic, and ternary statements.


* Python does not use { } to enclose blocks of code for if/loops/function etc.
*  Instead, Python uses the colon (:) and indentation/whitespace to group statements. 
* The boolean test for an if does not need to be in parenthesis (big difference from C++/Java), 
 and it can have 
* *elif* and *else* clauses (mnemonic: the word "elif" is the same length as the word "else").

##condition
<number> x == y ---> (x is equal to y)
<number> x != y --->(x is not equal to y)
<number> x < y --->x is less than y
<number> x > y --->x is greater than y
<number> x <= y -->x is less than or equal to y
<number> x >= y -->x is greater than or equal to y

In [2]:
x=10
y=10
z=100

In [3]:
x != y

False

In [4]:
x != z

True

In [5]:
x <= y

True

In [6]:
x < y

False

In [7]:
y < z

True

In [8]:
age=10
if ( age >= 18 ):
	print ("I am in if condition")
	print ("You are allowed to vote")
else:
	print ("I am in ELSE condition")
	print ("not allowed to vote")

I am in ELSE condition
not allowed to vote

In [9]:
age=50
if ( age >= 18 ):
	print ("I am in if condition")
	print ("You are allowed to vote")
else:
	print ("I am in ELSE condition")
	print ("not allowed to vote")

I am in if condition
You are allowed to vote

In [10]:
x=0
if x < 0 :
	print ('Negative changed to zero')
elif x == 0:
    print ('Zero')
elif x<=0:
	print ("xyz")
elif x == 1:
	print ('Single')
elif x == 2:
	print ('Double')
else:
	print ('More')

print ("I am after if else")

Zero
I am after if else

In [11]:
x=1
if x < 0 :
	print ('Negative changed to zero')
elif x == 0:
	print ('Zero')
elif x >= 0:
	print ("xyz")
elif x == 1:
	print ('Single')
elif x == 2:
	print ('Double')
else:
	print ('More')
    
print ( " I am after if else ")

xyz
 I am after if else

# A   and B  |Result
# -------------
# true |true |true
# false|false|false
# true |false|false
# false|true |false

In [12]:
x=8
y=15
if (x>=10 or y>100):
	print ("x is more than 10")
else :
	print ("x is not bigger than 10")

x is not bigger than 10

In [13]:
x=100
y=10
if (x>=10 or y>100):
	print ("x is more than 10")
else :
	print ("x is not bigger than 10")

x is more than 10

In [14]:
mood="bad"
speed=90
if mood == 'terrible' and speed > 100:
	print ('You have the right to remain silent.')
elif mood == 'bad' or speed > 90:
	print ('You do not have the right to remain silent.')
elif mood == 'terrible' and speed >= 90:
	print ("I'm going to have to write you a ticket.")
else:
	print ("Let's try to keep it under 80 ok?")

You do not have the right to remain silent.

In [15]:
mood="terrible"
speed=190
if mood == 'terrible' and speed > 100:
	print ('You have the right to remain silent.')
elif mood == 'bad' or speed > 90:
	print ('You do not have the right to remain silent.')
elif mood == 'terrible' and speed >= 90:
	print ("I'm going to have to write you a ticket.")
else:
	print ("Let's try to keep it under 80 ok?")

You have the right to remain silent.

# LEAP YEAR (Assignment)

In [16]:
x=1992
if x%4 == 0:#498
	if x%100 == 0:
		if x%400 == 0:
			print ("leap year")
		else:
			print (" not a leap year because not divisible by 400")
	else:
		print (" not a leap year because not divisible by 100")
else :
	print (" not a leap year because not divisible by 4")

 not a leap year because not divisible by 100

In [17]:
x=100
if x%4 == 0:
	if x%100 == 0:
		if x%400 == 0:
			print ("leap year")
		else:
			print (" not a leap year because not divisible by 400")
	else:
		print (" not a leap year because not divisible by 100")
else :
	print (" not a leap year because not divisible by 4")

 not a leap year because not divisible by 400

In [18]:
x=21
if x%4 == 0:
	if x%100 == 0:
		if x%400 == 0:
			print ("leap year")
		else:
			print (" not a leap year because not divisible by 400")
	else:
		print (" not a leap year because not divisible by 100")
else :
	print (" not a leap year because not divisible by 4")

 not a leap year because not divisible by 4

In [19]:
x=400
if x%4 == 0:
	if x%100 == 0:
		if x%400 == 0:
			print ("leap year")
		else:
			print (" not a leap year because not divisible by 400")
	else:
		print (" not a leap year because not divisible by 100")
else :
	print (" not a leap year because not divisible by 4")

leap year

### Conditional Expression (or "The Ternary Operator")

The ternary operator is used for inline conditional expressions. It is best used in simple, concise operations that are
easily read.
The order of the arguments is different from many other languages (such as C, Ruby, Java, etc.), which may
lead to bugs when people unfamiliar with Python's "surprising" behaviour use it (they may reverse the order).
Some find it "unwieldy", since it goes contrary to the normal flow of thought (thinking of the condition first
and then the effects).

In [20]:
n = 5
"Greater than 2" if n > 2 else "Smaller than or equal to 2"

# if n>2:
#     print ("greater thn 3")
# else:
#     print("smaller")

'Greater than 2'

In [21]:
n = 2
"Hello" if n > 10 else "Goodbye" if n == 1 else "Good day"

'Good day'

In [22]:
# divisible by 7 but not multiple of 5
l=[]
for x in range(2000,3000):
    if x%7==0 and x%5!=0:
        l.append(x)
#     else:
#         print("not correct")
print (l)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996]