# LOOPS

![Interpeter](05_Forloop.png)

In [1]:
i =0
while (i <= 5):    #condition
	print ("Hello world")
	i = i+1

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [2]:
i =0
while (i <4):    #condition
	print ("Hello world")
	i = i+1

Hello world
Hello world
Hello world
Hello world

In [3]:
i=6
while (i >=1):
    print ("Hello Geek")
    i=i-1
print("i am out")

Hello Geek
Hello Geek
Hello Geek
Hello Geek
Hello Geek
Hello Geek
i am out

In [4]:
3 in [0,1,2,3,4]

True

In [5]:
5 in [0,1,2,3,4]

False

In [6]:
for x in "java":
	print (x)

j
a
v
a

In [7]:
s="python"
for x in s:
    print (x)

p
y
t
h
o
n

In [8]:
for x in 10:
    print(x)

TypeError: 'int' object is not iterable

In [9]:
for x in '10':
    print(x)

1
0

In [10]:
for i in "java":
	print (i +" python")

j python
a python
v python
a python

In [11]:
words = ['cat', 'window', 'defenestrate']
for y in words:
    print (y)

cat
window
defenestrate

In [12]:
words = ['cat', 'window', 'defenestrate']
for y in words:
    print (y+" Python")

cat Python
window Python
defenestrate Python

In [13]:
for x in ['cat', 'window', 'defenestrate']:
     print( x,len(x))

cat 3
window 6
defenestrate 12

In [ ]:
# range(10)----[0,1,2,3,4,5,6,7,8,9]
print (range(20))

# print range(2,20,3)-->[2,5,8,11,14,17]
# print range(-10, -100, -30) ----> [-10,-40,-70]

In [14]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(2,10):
    print (i)

2
3
4
5
6
7
8
9

In [16]:
for i in range(2,10,2):#[2,3,4,5,6,7,8,9]
    print (i)
print("Here")

2
4
6
8
Here

In [17]:
a = ['Mary', 'had', 'xyz', 'little', 'lamb']
for i in [0,1,2,3,4]:
    print (i, a[i])

0 Mary
1 had
2 xyz
3 little
4 lamb

In [18]:
a = ['Mary', 'had', 'xyz', 'little', 'lamb']
for i in range(5):# for i in [0,1,2,3,4,]
	print (i, a[i])

0 Mary
1 had
2 xyz
3 little
4 lamb

In [19]:
a = ['Mary', 'had', 'xyz', 'little', 'lamb']
for i in range(len(a)):
    	print (i, a[i],len(a[i]))

0 Mary 4
1 had 3
2 xyz 3
3 little 6
4 lamb 4

In [20]:
n=0
for x in range(2, 5):#[2,3]
        print( "value of n" , n)
        print( "value of x" , x)
        print("*"*15)

value of n 0
value of x 2
***************
value of n 0
value of x 3
***************
value of n 0
value of x 4
***************

In [21]:
n=1
for x in range(2, 5):#[2,3,4]
        print( "value of n" , n)
        print( "value of x" , x)
        print("*"*15)

value of n 1
value of x 2
***************
value of n 1
value of x 3
***************
value of n 1
value of x 4
***************

In [22]:
n=2
for x in range(2, 5):#[2,3]
        print( "value of n" , n)
        print( "value of x" , x)
        print("*"*15)

value of n 2
value of x 2
***************
value of n 2
value of x 3
***************
value of n 2
value of x 4
***************

In [23]:
for n in range(2, 5):#n=4
    for x in range(2, 5):
        print( "value of n" , n)
        print( "value of x" , x)
        print("*"*15)

value of n 2
value of x 2
***************
value of n 2
value of x 3
***************
value of n 2
value of x 4
***************
value of n 3
value of x 2
***************
value of n 3
value of x 3
***************
value of n 3
value of x 4
***************
value of n 4
value of x 2
***************
value of n 4
value of x 3
***************
value of n 4
value of x 4
***************

In [24]:
words=['Mary', 'had', 'xyz', 'little', 'lamb']
for y in words: 
    for z in y:
        print (z)

M
a
r
y
h
a
d
x
y
z
l
i
t
t
l
e
l
a
m
b

In [25]:
for z in 'Mary':
        print (z)

M
a
r
y

### break statement
When a break statement executes inside a loop, control flow "breaks" out of the loop immediately:
The loop conditional will not be evaluated after the break statement is executed. Note that break statements are
only allowed inside loops, syntactically. A break statement inside a function cannot be used to terminate loops that
called that function.

In [27]:
for i in (0, 1, 2, 3, 4):
    print(i)
    if i == 3:
        break
print ("outside loop")

0
1
2
3
outside loop

In [28]:
for i in (0, 1, 2, 3, 4):
    print(i)
    break
print ("outside loop")

0
outside loop

In [29]:
for i in (0, 1, 2, 3, 4):
    if i == 2:
        break
    print(i)
print ("outside loop")

0
1
outside loop

In [30]:
for letter in 'geeksforgeeks':
    if letter == 'k':
    	break
    print ('Current Letter :', letter)
print ("outside loop")

Current Letter : g
Current Letter : e
Current Letter : e
outside loop

In [31]:
for letter in 'geeksforgeeks':
    if letter == 'g':
    	break
    print ('Current Letter :', letter)
print ("outside loop")

outside loop

### continue statement
A continue statement will skip to the next iteration of the loop bypassing the rest of the current block but
continuing the loop. As with break, continue can only appear inside loops:

In [32]:
for i in (0, 1, 2, 3, 4, 5):
    if i == 2 or i == 4:
        continue
    print(i)
    print("Python")
    print("Learning")
print ("outside loop")

0
Python
Learning
1
Python
Learning
3
Python
Learning
5
Python
Learning
outside loop

In [33]:
for letter in 'geeksforgeeks':
    if letter == 'k' or letter == 's':
    	continue
    print ('Current Letter :', letter)

print ("outside loop")

Current Letter : g
Current Letter : e
Current Letter : e
Current Letter : f
Current Letter : o
Current Letter : r
Current Letter : g
Current Letter : e
Current Letter : e
outside loop

In [34]:
for letter in 'geeksforgeeks':
    pass
print (letter)

s

#### The Pass Statement
pass is a null statement for when a statement is required by Python syntax (such as within the body of a for or
while loop), but no action is required or desired by the programmer. This can be useful as a placeholder for code
that is yet to be written.

In [ ]:
# x=10
# print(x++)

for x in range(10):
    print(x)
    b=x
    pass #we don't want to do anything, or are not ready to do anything here, so we'll pass

In [ ]:
print (x)

The for and while compound statements (loops) can optionally have an else clause (in practice, this usage is fairly
rare).
The else clause only executes after a for loop terminates by iterating to completion, or after a while loop
terminates by its conditional expression becoming false.

In [35]:
for i in range(3):
    print("enter password")
else:
    print('contact to admin')

enter password
enter password
enter password
contact to admin

The else clause does not execute if the loop terminates some other way (through a break statement or by raising
an exception):

In [36]:
for i in range(2):
    print(i)
    if i == 1:
        break
    else:
        print("inside for")
else:
    print('done')
print("i am after else")

0
inside for
1
i am after else

In [37]:
for i in range(2):
    print(i)
    if i == 1:
        break
else:
    print('done')
    print("i am after else")
print('outside')

0
1
outside

In [38]:
for i in range(2):
    print(i)
else:
    print('done')
    print("i am after else")
print('outside')

0
1
done
i am after else
outside

If you want to loop though both the elements of a list and have an index for the elements as well, you can use
Python's enumerate function:

## Assignment

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).


The numbers obtained should be printed in a comma-separated sequence on a single line.
Hints: 
Consider use range(#begin, #end) method

In [ ]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print ','.join(l)

In [ ]:
for i in range(0, 5):
    # inner loop to handle number of columns
    # values changing acc. to outer loop
    for j in range(0, i+1):
        # printing stars
        print("* ",end="")
    # ending line after each row
    print("\r")

In [ ]:
# i = 1
# while i != 6:
#     print("*"*i)
#     i = i + 1
    
i = 1
x = int(input("enter how many starts you want "))
for i in range(1,x+1):
    print(" "*(x-i) + "*"*i)

In [ ]:
i = 1
x = int(input("enter how many starts you want "))
for i in range(1,x+1):
    print("*"*i)

In [ ]:
i = 1
x = int(input("enter how many starts you want "))*2
for i in range(i,int(x/2) + 1):
print(" "*x + "* "*i)
x = x -1

In [ ]:

x = int(input("Enter a number "))
i = 1
r = 1
q = str()
for i in range(1,x+1):
while r <= i:
r = str(r)
q = str(q) + r
r = int(r) + 1
print(q)
q = ""
r = int(1)
i = i + 1

In [ ]:
Program to calculate the factorial
5
fact(5)= 5*4*3*2*1

4